@import "../color.scss";

.frequent-layout {
  //   height: 582px;
  background-color: $bg_Color;
  padding: 48px 120px;
  width: 100%;

  .content {
    width: fit-content;
    margin: 0 auto;
  }

  .header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    margin-bottom: 42px;
    width: 83%;
  }

  .plus {
    margin: 0 40px;
    width: 32px;
    font-size: 32px;
    position: relative;
    top: -110px;
  }

  .slider {
    width: 32vw;
  }
}
