$bg_Color: #f0f1f2;

//red
$red: #f58585;
$red_2: #d80a00;

//blue
$blue: #7e8994;

//black
$black: #000000;
$black_2: #1d2024;

//white
$white: #ffffff;

//grey
$grey: #c2c7cc;

//orange
$orange: #ff8b00;

//yellow
$yellow: #ffd200;

//green
$green: #108510;
