@import "../../../color.scss";
.product-detail-pricing {
  margin-left: 50px;
  margin-top: -55px;
  .pricing-content {
    margin: 30px 0 0 0;
  }
  .pricing-divider {
    height: 1.5px;
    width: 100%;
    background: $grey;
    margin: 24px 0 16px 0;
  }

  .selected-color {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
    text-transform: capitalize;
  }

  .quantity {
    width: 125px;
    gap: 27px;
  }

  .update-btn {
    width: 100%;
  }

  .badge {
    margin-left: 0;
  }
}
